{% extends "menu.html" %}
{% block titulo %} Agenda Tecnicos {% endblock %}

{% block extra %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: {{ eventos_json|safe }}
    });
    calendar.render();
  });
</script>
{% endblock %}

{% block contenido %}
<div class="content" style=" margin-top: 100px;"> 
    <section class="available_prod">
        <div class="container">
            <div class="row">
                <div class="allowed_prod">
                    <h2 class="font-weight-bold text-center text-lg-left">{{tecnico.numerodocumento.nombre}} {{tecnico.numerodocumento.apellido}}  Agenda </h2>
                </div>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="card-header" style="background-color: rgba(36, 126, 194, 0.763); color: aliceblue;">
          Agenda
        </div>
        <div class="card-body">
          <div id="calendar" style="width: 100%; max-height: 400px;"></div>
        </div>
    </div>
    <h5 style="color: black;">Citas Agendadas</h5>
    {% if todas_las_citas %}
        <table class="table table-striped" style="margin-bottom: 10%;">
            <thead>
                <tr class="table-info">
                    <th scope="col">No. Cita</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in todas_las_citas %}
                <tr class="cita-row" data-cita-id="{{ cita.idcita }}">
                    <td>{{ cita.idcita }}</td>
                    <td>{{ cita.descripcioncita }}</td>
                    <td>{{ cita.fechacita }}</td>
                    <td>{{ cita.horacita }}</td>
                    <td>{{ cita.direccioncita }}</td>
                    <td>{{ cita.idcotizacion.idcliente.numerodocumento.nombre }} {{ cita.idcotizacion.idcliente.numerodocumento.apellido }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
    Aun no hay citas asignadas.
    </div>
    {% endif %}
    <h5 style="color: black;">Fechas Disponibles</h5>
    {% if fechas_disponibles %}
        <table class="table table-striped" style="margin-bottom: 10%;">
            <thead>
                <tr class="table-info">
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for fecha in fechas_disponibles %}
                <tr>
                    <td>{{ fecha.fecha|date:"D d M Y" }}</td>
                    <td>
                        {% if fecha.horas_disponibles %}
                            {% for hora in fecha.horas_disponibles %}
                                {% if hora == 0 %}
                                    12:00 AM
                                {% elif hora < 12 %}
                                    {{ hora }}:00 AM
                                {% elif hora == 12 %}
                                    12:00 PM
                                {% else %}
                                {{ hora|add:"-12" }}PM
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            No hay horas disponibles
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
    No hay fechas disponibles.
    </div>
    {% endif %}
</div>
{% endblock %}
