{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/menulanding.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar-landing">
        <div class="container-fluid">
            {% if user.is_authenticated and user.idrol.idrol == 2 %}
            <a class="navbar-brand" href="{% url 'productos' %}" style="text-decoration: none; color: #263465;">JJSYSTEM</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'landing' %}" style="text-decoration: none; color: #263465;">JJSYSTEM</a>
            {% endif %} 
            {% if user.is_authenticated and user.idrol.idrol == 2 %}
                <a style="text-decoration: none; color: black;">{{user.nombre}} {{user.apellido}}</a>
                <li class="nav-item dropdown" style="margin-top: 0px; display: flex;">
                    <a class="nav-link dropdown-toggle font-weight-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/fotoperfil.png' %}" class="img-fluid rounded-circle avatar mr-2" alt="Foto de perfil" style="width: 30px; height: 30px; border-radius: 50px;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="dropdown-item" href="{% url 'mi_perfil' %}">Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>        
                    </div>
                </li> 
            {% else %} 
            <button ><a href="{% url 'login' %}">Iniciar sesión </a></button>
            <button ><a href="{% url 'register' %}">Registrarse</a></button>
            {% endif %}
        </div>
    </nav>
    
    
    <nav class="navbar-buscar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search" method="get" action="{% url 'buscar' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Buscar productos o servicios" aria-label="search" name="palabra_clave">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>            
            <button class="btn btn-info"><a class="navbar-brand" href="{% url 'productos' %}">Productos</a></button>
            <button class="btn btn-info"><a class="navbar-brand" href="{% url 'servicios' %}">Servicios</a></button>
            {% if user.is_authenticated and user.idrol.idrol == 2 %}
            <button class="btn btn-info"><a class="navbar-brand" href="{% url 'historial_compras' %}">Mis compras</a></button>
            <button class="btn btn-info"><a class="navbar-brand" href="{% url 'vista_cliente' %}">Mis envios</a></button>
            {% else %}
            <a href="#about_us" class="btn btn-info">Acerca de nosotros<a/>
            <!-- <button class="btn btn-info"data-bs-toggle="modal" data-bs-target="#exampleModal">PQRSF</a></button> -->
            {% endif %} 
            {% if user.is_authenticated and user.idrol.idrol == 2 %}
            <!-- <button class="btn btn-info"><a class="navbar-brand" href="{% url 'ir_a_pqrsf' %}">PQRSF</a></button> -->
                <a class="navbar-brand" href="{% url 'ir_a_cotizaciones' %}"> Cotizar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                    </svg>
                </a>
            {% else %}
                <!-- Abre un modal si el usuario no está autenticado -->
                <a class="navbar-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </nav>

    <!-- Modal para iniciar sesión -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Debes iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black;">
                    <p>Por favor, inicia sesión para acceder a esta función.</p>
                </div>
            </div>
        </div>
    </div>
    {% block contenido %}
    {% endblock %} 
    <footer class="footer mt-auto py-3 ">
        <div class="container text-center">
            <span class="text-muted">© 2024 JJSystem Project | Todos los derechos reservados.</span>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for message in messages %}
      <script>
        {% if message.tags == 'error' %}
          Swal.fire({
            "title": "Error",
            "text": "{{ message }}",
            "icon": "error"
          })
        {% elif message.tags == 'warning' %}
          Swal.fire({
            "title": "Advertencia",
            "text": "{{ message }}",
            "icon": "warning"
          })
        {% else %}
          Swal.fire({
            "title": "Exitoso",
            "text": "{{ message }}",
            "icon": "success"
          })
        {% endif %}
      </script>
    {% endfor %}
  {% endif %}
</body>
</html>
