{% extends "landing/menuLanding.html" %}
{% block titulo %} Resultados de búsqueda {% endblock %}
{% load static %} 

{% block contenido %}
    <div class="contenido">
        <div class="container">
            <h2>Resultados de búsqueda</h2>
            {% if productos %}
                <h3>Productos encontrados:</h3>
                <div class="row">
                    {% for producto in productos %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">{{ producto.nombreproducto }}</h5>
                                    <p class="card-text">{{ producto.descripcionproducto }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if servicios %}
                <h3>Servicios encontrados:</h3>
                <div class="row">
                    {% for servicio in servicios %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ servicio.nombreservicio }}</h5>
                                    <p class="card-text">{{ servicio.descripcionservicio }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not productos and not servicios %}
                <p>No se encontraron productos ni servicios.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
