{% extends "landing/menuLanding.html" %}
{% block titulo %} Productos {% endblock %}
{% load static %} 
{% block contenido %}
    <div class="contenido" style="justify-content: center; justify-items: center;">
            <div class="row">
                <div class="row">
                    {% for servicio in servicios %}
                    <div class="col-md-4 servicio" data-categoria="{{ servicio.categoriaservicio }}">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ servicio.nombreservicio }}</h5>
                                <p class="card-text">{{ servicio.descripcionservicio }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %} 