{% extends "landing/menuLanding.html" %}
{% block titulo %} Agregar Productos y Servicios a la Cotización {% endblock %}
{% load static %} 
{% block contenido %}
<div class="content" style="margin-top: 150px; margin-bottom: 50px;">
    <div class="container" class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div style="margin-bottom: 50px;"">
                    <div class="card-header">
                        <h4>Agregar Productos y Servicios</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'asignar_productos_servicios_cliente' id_cotizacion=idcotizacion %}">
                            {% csrf_token %}
                            <input type="hidden" name="idcotizacion" value="{{ idcotizacion }}">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h6 class="card-title">Productos</h6>
                                </div>
                                <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                                    {% for producto in productos %}
                                    <div class="card m-2" style="width: 200px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ producto.nombreproducto }}</h5>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="producto{{ producto.idproducto }}" name="producto[]" value="{{ producto.idproducto }}">
                                        <label class="form-check-label" for="producto{{ producto.idproducto }}">{{ producto.nombreproducto }}</label>
                                        <input type="number" class="form-control cantidad" id="cantidad{{ producto.idproducto }}" name="cantidad_{{ producto.idproducto }}" placeholder="Cantidad">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>                            
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h6 class="card-title">Servicios</h6>
                                </div>
                                <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                                    {% for servicio in servicios %}
                                    <div class="card m-2" style="width: 200px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ servicio.nombreservicio }}</h5>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="servicio{{ servicio.idservicio }}" name="servicio[]" value="{{ servicio.idservicio }}">
                                                <label class="form-check-label" for="servicio{{ servicio.idservicio }}">Seleccionar</label>
                                                <input type="number" class="form-control cantidad" id="cantidad{{ servicio.idservicio }}" name="cantidad_{{ servicio.idservicio }}" placeholder="Cantidad" style="display: none;" hidden>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div> 
                            <div class=" justify-content-center">
                                <button type="submit" class="btn btn-success ">Agregar Productos y Servicios</button>
                            </div>                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    function mostrarCantidad(checkbox) {
        var cantidadInput = document.getElementById('cantidad' + checkbox.value);
        cantidadInput.style.display = checkbox.checked ? 'block' : 'none';
    }
</script> -->
{% endblock %}
