{% extends "landing/menuLanding.html" %}
{% block titulo %} Cotizacion {% endblock %}
{% load static %} 
{% block contenido %}
<div class="content" style="margin-top: 200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Crear Cotización
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'crear_cotizacion' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="cliente">Cliente:</label>
                                <input type="number" class="form-control" id="cliente" name="cliente" readonly value="{{request.user.numerodocumento}}" required>
                                <input type="text" class="form-control" id="nombres" name="nombres" readonly style="margin-top: 5px;" placeholder="{{ request.user.nombre }} {{ request.user.apellido }}" required>
                                <label for="descripcioncotizacion">Descripción:</label>
                                <textarea class="form-control" id="descripcioncotizacion" name="descripcioncotizacion" rows="3" required></textarea>
                            </div>
                            <button type="submit" style="margin-top: 5px;" class="btn btn-outline-success">Crear Cotización</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4" style="overflow-y: auto; max-height: 400px;">
                <div class="card">
                    <div class="card-header">
                        Mis cotizaciones
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cotizacion in cotizaciones %}
                                <tr>
                                    <td>{{ cotizacion.idcotizacion }}</td>
                                    <td>{{ cotizacion.fechacotizacion }}</td>
                                    <td>{{ cotizacion.descripcioncotizacion }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}
