{% extends "landing/menuLanding.html" %}
{% block titulo %} Productos {% endblock %}
{% load static %} 
{% block contenido %}
<div class="contenido" style="margin-bottom: 130px;">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8">
            <div class="card bg-light border-primary">
                <div class="card-header">
                    <h5>Cotización</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Detalles:</h5>
                    <ul class="list-group">
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>ID Cotizacion :</strong>
                            <input type="number"  class="form-control" name="idcotizacion" id="idcotizacion" value="{{ detalles_cotizacion.0.0 }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Fecha de creacion :</strong>
                            <input type="datetime"  class="form-control" name="fecha" id="fecha" value="{{ detalles_cotizacion.0.1 }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Descripcion :</strong>
                            <input type="text"  class="form-control" name="descripcion" id="descripcion" value="{{ detalles_cotizacion.0.2 }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Estado :</strong>
                            <input type="text"  class="form-control" name="estado" id="estado" value="{{ detalles_cotizacion.0.3 }}" readonly>
                        </li>
                        
                    </ul>
                    <h5 class="card-title">Productos:</h5>
                    <div class="card mb-3">
                        <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                            {% for producto in detalles_cotizacion.4 %}
                            <div class="card m-2">
                                <div class="card-body">
                                    <p class="card-title">Nombre:{{ producto.nombreproducto }}<p/>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <h5 class="card-title">Servicios:</h5>
                    <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                        {% for servicio in detalles_cotizacion.5 %}
                            <div class="card m-2" style="width: 200px;">
                                <div class="card-body">
                                    <h5 class="card-title">Nombre:{{ servicio.nombreServicio }}</h5>
                                    <!-- Agrega otros detalles del servicio si es necesario -->
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
