{% extends "landing/menuLanding.html" %}
{% block titulo %} Productos {% endblock %}
{% load static %} 
{% block contenido %}
<div class="contenido" style="margin-bottom: 130px;">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8">
            <div class="card bg-light border-primary">
                <div class="card-header">
                    <h5>Cotización</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Detalles:</h5>
                    <ul class="list-group">
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Número de Cotizacion :</strong>
                            <input type="number"  class="form-control" name="idcotizacion" id="idcotizacion" value="{{ cotizacion.idcotizacion }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Fecha de creacion :</strong>
                            <input type="datetime"  class="form-control" name="fecha" id="fecha" value="{{cotizacion.fechacotizacion }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Descripcion :</strong>
                            <input type="text"  class="form-control" name="descripcion" id="descripcion" value="{{cotizacion.descripcioncotizacion }}" readonly>
                        </li>
                        <li class="list-group-item" style="padding: 2px; margin-bottom: 2px; background-color: var(--car);">
                            <strong>Estado :</strong>
                            <input type="text"  class="form-control" name="estado" id="estado" value="{{cotizacion.idestadocotizacion.nombreestadocotizacion }}" readonly>
                        </li>
                    </ul>

                    <h5 class="card-title">Productos:</h5>
                    <div class="card mb-3">
                        <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                            {% for producto in productos %}
                            <div class="card m-2">
                                <div class="card-body">
                                    <p class="card-title">Nombre: {{ producto.nombre }}</p>
                                    <p class="card-title">Cantidad: {{ producto.cantidad }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <h5 class="card-title">Servicios:</h5>
                    <div class="d-flex flex-wrap justify-content-start" style="margin: 10px;">
                        {% for servicio in servicios %}
                        <div class="card m-2" style="width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ servicio.nombre }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
