{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Envío</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <main>
        <div class="container py-4">
            <h2>Editar Envío</h2>

            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <ul>
                    {% for error in form.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <form action="{% url 'editarEnvio' idEnvio=envio.idenvio %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="put">
            
                <div class="mb-3 row">
                    <label for="direccion" class="col-sm-2 col-form-label">Dirección:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="direccion" id="direccion" value="{{ envio.direccionenvio }}" required>
                    </div>
                </div>
            
                <div class="mb-3 row">
                    <label for="idtecnico" class="col-sm-2 col-form-label">ID Técnico:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="idtecnico" id="idtecnico" value="{{ envio.idtecnico.idtecnico }}" required>
                    </div>
                </div>
            
                <div class="mb-3 row">
                    <label for="estado" class="col-sm-2 col-form-label">Estado Envío:</label>
                    <div class="col-sm-5">
                        <select name="estado" id="estado" class="form-select" required>
                            <option value="">Seleccione el estado</option>
                            {% for estado in estados %}
                            <option value="{{ estado.idestadoenvio }}" {% if estado.idestadoenvio == envio.idestadoenvio.idestadoenvio %} selected {% endif %}>{{ estado.nombreestadoenvio }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <a href="{% url 'homeEnvios' %}" class="btn btn-secondary">Regresar</a>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>            
        </div>
    </main>

</body>
</html>
