{% extends "menu.html" %}
{% block titulo %} Envios {% endblock %}    

{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/envios.css' %}">
<div id="content" style="margin: 40px; margin-top: 70px;">
    <nav class="available_prod">
        <div class="container">
            <div class="row">
                <div class="allowed_prod">
                    <h2 class="font-weight-bold text-center text-lg-left">Envios</h2>
                </div>
            </div>
        </div>
    </nav>
</div>    

<div id="content" style="margin: 40px">
    <section style="padding: 5px; padding-top: 0%;">
        <form id="filterForm" class="form-inline" method="GET" style="width: 100%; margin-bottom: 10px;">
            <div class="input-group" style="width: 40%;">
                <input type="search" class="form-control" name="search" placeholder="Buscar por dirección" aria-label="Search">
                <select id="estadoSelect" class="custom-select" name="estado" style="border: 1px solid #ced4da; border-radius: 5px;">
                    <option value="">Seleccionar estado</option>
                    {% for estado in estados %}
                        <option value="{{ estado.idestadoenvio }}">{{ estado.nombreestadoenvio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex align-items-start">
                <a href="{% url 'createEnvio'%}" class="btn btn-primary ml-2">Añadir Envío</a>
            </div>
        </form>        
    </section>

    <section class="s-data-table">
        <table class="table data-table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Dirección</th>
                    <th scope="col">ID Tecnico</th>
                    <th scope="col">Estado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for e in envios %}
                <tr data-toggle="collapse" data-target="#detalle_{{ e.idenvio }}" class="accordion-toggle">
                    <td>{{ e.direccionenvio }}</td>
                    <td>{{ e.idtecnico.idtecnico }}</td>
                    <td>{{ e.idestadoenvio.nombreestadoenvio }}</td>
                    <td>
                        <form method="post" action="{% url 'generar_pdf_envio' e.idenvio %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark text-dark" style="background-color: transparent; border-color: black;">
                                <i class="bi bi-download text-dark"></i> PDF
                            </button>
                        </form>
                    </td>
                    <td class="col text-center"> 
                        <a href="{% url 'editarEnvio' idenvio=e.idenvio %}" class="btn btn-primary btn-sw"> Editar </a>
                    </td>
                    <td class="col text-center">
                        <a href="{% url 'eliminarEnvio' idenvio=e.idenvio %}" class="btn btn-danger btn-sw"> eliminar </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="hiddenRow">
                        <div id="detalle_{{ e.idenvio }}" class="collapse">
                            <div class="card card-body">
                                <p><strong>Detalles de Envío:</strong></p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Detalle</th>
                                            <th>Tecnico</th>
                                            <th>ID Venta</th>
                                            <th>Fecha Venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for detalle in detallesEnvio %}
                                        {% if detalle.idenvio == e.idenvio %}
                                        <tr>
                                            <td>{{ detalle.detallesventa }}</td>
                                            <td>{{ detalle.nombretecnico }} - {{ detalle.numerodocumento }}</td>
                                            <td>{{ detalle.idventa }}</td>
                                            <td>{{ detalle.fechaventa }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>       
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if envios.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ envios.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for i in envios.paginator.page_range %}
                <li class="page-item {% if envios.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if envios.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ envios.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    <div class="d-flex justify-content-start" style="margin-bottom: 70px;">
        <a href="{% url 'generar_pdf_envios' envios%}" class="btn btn-success btn">Exportar</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    document.getElementById("estadoSelect").addEventListener("change", function() {
        document.getElementById("filterForm").submit();
    });
</script>
</body>
</html>
{% endblock %}
