{% extends "menu.html" %}
{% block titulo %} Mi perfil {% endblock %}
{% load static %} 
{% block contenido %}
<div class="contenido" style="margin: 150px;">>
        <div class="card-body">
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <ul>
                    {% for field, error in form.errors.items %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="modal" id="modal-cambiar-password" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" style="color: black;">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Cambiar contraseña</h1>
                        </div>
                        <div class="modal-body">
                            {% if password_correct == True %}
                            <form method="post" action="{% url 'index_cambiar_password' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="new_password" class="form-label">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="new_password" name="new_password">
                                </div>  
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirmar contraseña</label>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                                </div>  
                                <button type="submit" class="btn btn-outline-success btn-block">Cambiar contraseña</button>
                            </form>
                            {% else %}
                            <p>Contraseña incorrecta</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-secondary">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('modal-cambiar-password'));
        myModal.show();
    });
</script>
{% endblock %}
