<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
    </tr>
    {% for producto in productos_asociados %}
    <tr>
        <td>{{ producto.idproducto_id }}</td>
        <td><input type="number" name="cantidad" value="{{ producto.cantidad }}"></td>
        <input type="hidden" name="producto" value="{{ producto.idproducto_id }}">
    </tr>
    {% endfor %}
    
</table>

<select name="servicio" multiple>
    {% for servicio in servicios_asociados %}
    <option value="{{ servicio.idservicio_id }}" selected>{{ servicio.nombre }}</option>
    {% endfor %}
    <!-- Aquí puedes agregar todos los servicios disponibles para que el usuario pueda seleccionar -->
</select>
