                        <!-- Modal para actualizar datos -->
                        <div class="modal fade" id="editarDatosTecnicoModal{{ tecnico.idtecnico }}" tabindex="-1" aria-labelledby="editarDatosTecnicoModal{{ tecnico.idtecnico }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarDatosTecnicoModal{{ tecnico.idtecnico }}Label">Actualizar Datos del Cliente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'editar_datos_tecnico' idtecnico=tecnico.idtecnico %}" method="post">
                                    {% csrf_token %}
                                    <!-- Campos del formulario para actualizar datos -->
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre:</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ tecnico.numerodocumento.nombre }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellido" class="form-label">Apellido:</label>
                                        <input type="text" class="form-control" id="apellido" name="apellido" value="{{ tecnico.numerodocumento.apellido }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ tecnico.numerodocumento.email }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                            </div>