{% extends "menu.html" %}
{% block titulo %} Index {% endblock %}
{% load static %} 
{% block contenido %}
            <section class="contenedor-cotizaciones">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cotizaciones</h5>
                      <p class="card-text">Registro y solicitud de cotizaciones.</p>
                      <a href="{% url 'ver_cotizaciones' %}" class="btn btn-primary">Ver cotizaciones</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tecnicos</h5>
                      <p class="card-text">Listado del personal de tecnicos.</p>
                      <a href="{% url 'indexTecnicos' %}" class="btn btn-primary">Ver Tecnicos</a>
                    </div>
                  </div>

                </section>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agendar-cita" style="margin-top: 10px; background-color:rgba(36, 126, 194, 0.763) ; margin-left: 40%;">Agendar Cita</button>
                <!-- Modal para Agendar Cita -->
                <div class="modal fade" id="agendar-cita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Agendar Cita</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'crear_citas' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="fechacita" class="form-label" style="color: black;">Fecha de la Cita:</label>
                                        <input type="date" class="form-control" id="fechacita" name="fechacita" required min="{{ fecha_actual }}">
                                        <p style="color: rgba(119, 136, 153, 0.884);">Puedes agendar citas de lunes a viernes</>
                                    </div>
                                    <div class="mb-3">
                                        <label for="horacita" class="form-label" style="color: black;">Hora de la Cita:</label>
                                        <input type="time" class="form-control" id="horacita" name="horacita" required>
                                        <p style="color: rgba(119, 136, 153, 0.884);">Puedes agendar citas entre las 7:00am y 7:00pm</p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="direccioncita" class="form-label" style="color: black;">Dirección de la Cita:</label>
                                        <input type="text" class="form-control" id="direccioncita" name="direccioncita" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="descripcioncita" class="form-label" style="color: black;">Descripción:</label>
                                        <textarea class="form-control" id="descripcioncita" name="descripcioncita" rows="3" required></textarea>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="idestadocita" class="form-label" style="color: black;"> Estado:</label>
                                        <select class="form-select" id="idestadocita" name="idestadocita" required>
                                            <option value="">Selecciona un estado</option>
                                            {% for estado in estados %}
                                                <option value="{{ estado.idestadocita }}">{{ estado.nombreestadocita }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                    <div class="mb-3">
                                        <label for="idcotizacion" class="form-label" style="color: black;">Asociar cotizacion:</label>
                                        <select class="form-select" id="idcotizacion" name="idcotizacion" required>
                                            <option value="">Selecciona una cotizacion</option>
                                            {% for cotizacion in cotizaciones %}
                                                <option value="{{ cotizacion.idcotizacion }}">{{ cotizacion.idcotizacion }} - {{ cotizacion.idcliente.numerodocumento.nombre }} {{ cotizacion.idcliente.numerodocumento.apellido }}-  {{ cotizacion.fechacotizacion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="idtecnico" class="form-label" style="color: black;">Asignar Técnico:</label>
                                        <select class="form-select" id="idtecnico" name="idtecnico" required>
                                            <option value="">Selecciona un técnico</option>
                                            {% for tecnico in tecnicos %}
                                                <option value="{{ tecnico.idtecnico }}">{{ tecnico.numerodocumento.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>                            
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Agendar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <section class="contenedor-citas">
                <div class="card" style="width: 14 rem;">
                    <img src="{% static 'images/analisis_cita.jpeg' %}" class="card-img-top" alt="analisis cita">
                    <div class="card-body">
                      <h5 class="card-title">Citas de Analisis</h5>
                      <p class="card-text">Gestion de citas de analisis</p>
                      <a href="{% url 'cita_analisis' %}" class="btn btn-primary">Ver citas</a>
                    </div>
                  </div>
                  <div class="card" style="width: 14 rem;">
                    <img src="{% static 'images/instalacion_cita.jpeg' %}" class="card-img-top" alt="instalacion cita">
                    <div class="card-body">
                      <h5 class="card-title">Citas de instalacion</h5>
                      <p class="card-text">Gestion de citas de instalacion.</p>
                      <a href="{% url 'cita_instalacion' %}" class="btn btn-primary">Ver citas</a>
                    </div>
                  </div>
                  <div class="card" style="width: 14 rem;">
                    <img src="{% static 'images/mantenimiento_cita.jpg' %}" class="card-img-top" alt="mantenimiento cita">
                    <div class="card-body">
                      <h5 class="card-title">Citas de Mantenimiento</h5>
                      <p class="card-text">Gestion de citas de mantenimiento.</p>
                      <a href="{% url 'cita_mantenimiento' %}" class="btn btn-primary">Ver citas</a>
                    </div>
                  </div>
            </section>
            <script>
                // Obtener el elemento de fecha de la cita
                var fechaCita = document.getElementById('fechacita');
            
                // Obtener la fecha actual en formato ISO (YYYY-MM-DD)
                var fechaActual = new Date().toISOString().split('T')[0];
            
                // Establecer la fecha mínima como la fecha actual
                fechaCita.min = fechaActual;
            </script>
            <script>
                document.getElementById('horacita').addEventListener('input', function() {
                    var horaSeleccionada = this.value;
                    var horaMinima = '07:00';
                    var horaMaxima = '17:00';
            
                    if (horaSeleccionada < horaMinima || horaSeleccionada > horaMaxima) {
                        alert('Por favor, selecciona una hora entre las 7:00 AM y las 5:00 PM.');
                        this.value = ''; // Limpiar el campo de entrada
                    }
                });
            </script>
{% endblock %}
