{% extends "menu.html" %}
{% block titulo %} Tecnicos  {% endblock %}
{% load static %} 
{% block contenido %}
    <section class="contenedor-citas" style="justify-content: center; justify-items: center; margin-top: 30px;">
        <div class="card" style="width: 14 rem;">
            <img src="{% static 'images/personal_tecnico.jpg' %}" class="card-img-top" alt="personal tecnico">
            <div class="card-body">
            <h5 class="card-title">Personal Tecnico</h5>
            <p class="card-text"></p>
            <a href="{% url 'verTecnicos' %}" class="btn btn-primary">Ver Personal</a>
            </div>
        </div>
        <div class="card" style="width: 14 rem;">
            <img src="{% static 'images/reportes.jpeg' %}" class="card-img-top" alt="reportes">
            <div class="card-body">
            <h5 class="card-title">Reportes</h5>
            <p class="card-text">Gestion de reportes de tecnicos</p>
            <a href="#" class="btn btn-primary">Ver Resportes</a>
            </div>
        </div>
        <div class="card" style="width: 14 rem;">
            <img src="{% static 'images/actividades.jpg' %}" class="card-img-top" alt="reportes">
            <div class="card-body">
            <h5 class="card-title">Actividades</h5>
            <p class="card-text">Gestion de actividades de tecnicos</p>
            <a href="#" class="btn btn-primary">Ver Actividades</a>
            </div>
        </div>
    </section>
{% endblock %}