{% extends "landing/menuLanding.html" %}
{% block titulo %} Pqrsf {% endblock %}
{% load static %} 
{% block contenido %}
<div class="content" style="margin-top: 200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Crear PQRSF
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'crear_pqrsf' %}">
                            {% csrf_token %}
                            <div class="form-group" style="color: black;">
                                <label for="cliente">Cliente:</label>
                                <input type="number" class="form-control" id="cliente" name="cliente" readonly value="{{ request.user.numerodocumento }}" required>
                                <input type="text" class="form-control" id="nombres" name="nombres" readonly style="margin-top: 5px;" placeholder="{{ request.user.nombre }} {{ request.user.apellido }}" required>
                            
                                <label for="idtipopqrsf">Tipo PQRSF:</label>
                                <select class="form-control" id="idtipopqrsf" name="idtipopqrsf" style="color: black;" required>
                                    {% for tipo in tipos %}
                                        <option value="{{ tipo.idtipopqrsf }}">{{ tipo.nombretipopqrsf }}</option>
                                    {% endfor %}
                                </select>
                                <label for="informacionpqrsf">Descripción:</label>
                                <textarea class="form-control" id="informacionpqrsf" name="informacionpqrsf" rows="3" required></textarea>
                            </div>
                            <button type="submit" style="margin-top: 5px;" class="btn btn-outline-success">Crear PQRSF</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4" style="overflow-y: auto; max-height: 400px;">
                <div class="card">
                    <div class="card-header">
                        Mis PQRSF
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">PQRSF</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Informacion</th>
                                    <th scope="col">Descargar</th>
                                    <th scope="col">Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pqrsf in pqrsfs %}
                                <tr>
                                    <td>{{ pqrsf.idpqrsf }}</td>
                                    <td>{{ pqrsf.idtipopqrsf.nombretipopqrsf }}</td>
                                    <td>{{ pqrsf.fechapqrsf }}</td>
                                    <td>{{ pqrsf.informacionpqrsf }}</td>
                                    <td> 
                                        <a href="{% url 'convertir_pqrsf_pdf' idpqrsf=pqrsf.idpqrsf %}" class="btn btn-outline-dark btn-sw">PDF</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}
