{% extends "menu.html" %}
{% block titulo %} Envios {% endblock %}    
{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/envios.css' %}">
    <div id="content" style="margin: 40px; margin-top: 70px;">
        <nav class="available_prod">
            <div class="container">
                <div class="row">
                    <div class="allowed_prod">
                        <h2 class="font-weight-bold text-center text-lg-left">Envios</h2>
                    </div>
                </div>
            </div>
        </nav>
    </div>    
    <div id="content" style="margin: 40px; margin-bottom: 70px;">

        <section class="s-data-table" style="margin-bottom: 40px;">
            <table class="table data-table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID Tecnico</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">ID Envio</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in envios %}
                    <tr>
                        <td>{{e.idtecnico.idtecnico}}</td>
                        <td>{{e.direccionenvio}}</td>
                        <td>{{e.idenvio}}</td>
                        <td>{{e.idestadoenvio.nombreestadoenvio}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
