{% extends "menu.html" %}
{% block titulo %} pqrsf {% endblock %}
{% block contenido %}
<div class="content">
    <nav class="available_prod">
        <div class="container">
            <div class="row">
                <div class="allowed_prod">
                    <h2 class="font-weight-bold text-center text-lg-left">pqrsf</h2>
                </div>
            </div>
        </div>
    </nav>
    <aside class="col-md-3 col-xs-12 col-ms-12">
        <p style="color: black;">Filtrar <p/>
        <form id="filtroCategoria" action="" method="GET">
            <div class="mb-3">
                <select class="form-select" id="tipopqrsf" name="tipopqrsf">
                    <option value="-1">Buscar por PQRSF</option>
                    {% for tipo in tipos %}
                        <option value="{{ tipo.idtipopqrsf }}">{{ tipo.nombretipopqrsf }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </aside>
        <section class="s-data-table">
        <table class="table data-table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Descargar</th>
                    <th></th>
                    <th scope="col">Descargar respuesta</th>
                </tr>
            </thead>
            <tbody>
                {% for pqrsf_item in pqrsf %}
                <tr>
                    <td>{{pqrsf_item.idpqrsf}}</td>
                    <td>{{pqrsf_item.fechapqrsf}}</td>
                    <td>{{pqrsf_item.idcliente.numerodocumento.nombre}} {{pqrsf_item.idcliente.numerodocumento.apellido}}</td>
                    <td>{{pqrsf_item.idtipopqrsf.nombretipopqrsf}}</td>
                    <td>{{pqrsf_item.idestadopqrsf.nombreestadopqrsf}}</td>
                    <td> 
                        <a href="{% url 'convertir_pqrsf_pdf' idpqrsf=pqrsf_item.idpqrsf %}" class="btn btn-outline-dark btn-sw">PDF</a>
                    </td>
                    <td> 
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#responder-pqrsf{{ pqrsf_item.idpqrsf }}">Responder</button>
                        <!-- Modal de registrar respuesta  -->
                        <div class="modal fade" id="responder-pqrsf{{ pqrsf_item.idpqrsf }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="responder-pqrsf{{ pqrsf_item.idpqrsf }}" style="color: black;">Respuesta</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'crear_respuesta' id_pqrsf=pqrsf_item.idpqrsf %}" method="post">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="informacionrespuesta" class="form-label" style="color: black;">Redacta tu respuesta:</label>
                                                <textarea class="form-control" id="informacionrespuesta" name="informacionrespuesta" required></textarea>
                                            </div>
                                        
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </td>
                    <td> 
                        <a href="{%url 'convertir_respuesta_pdf' idpqrsf=pqrsf_item.idpqrsf%}" class="btn btn-outline-dark btn-sw"> PDF </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pqrsf.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ pqrsf.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for i in pqrsf.paginator.page_range %}
                <li class="page-item {% if pqrsf.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if pqrsf.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pqrsf.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
</div>
<script>
    document.getElementById('tipopqrsf').addEventListener('change', function() {
        document.getElementById('filtroCategoria').submit();
    });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
