{% extends "menu.html" %}
{% block titulo %} Citas | Analisis {% endblock %}
{% block contenido %}

<div class="content">
    <section class="available_prod">
        <div class="container">
            <div class="row">
                <div class="allowed_prod">
                    <h2 class="font-weight-bold text-center text-lg-left">Citas de análisis</h2>
                </div>
            </div>
        </div>
    </section>
    <section style="padding: 30px;">
        <!-- Formulario de búsqueda -->
        <form class="form-inline position-relative my-2 d-inline-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar cita por id" aria-label="Search">
            <button class="btn btn-search position-absolute" type="submit"></button>
        </form>
    </section>
    <section>       
    <section class="s-data-table">
        <!-- Tabla de citas -->
        <table class="table data-table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Cita</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Técnico</th>
                    <th scope="col">Administrador</th>
                    <th scope="col">Cotización</th>
                    <th scope="col">Estado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas_page %}
                <tr>
                    <td>{{ cita.idcita }}</td>
                    <td>{{ cita.fechacita|date:"Y-m-d" }}</td>
                    <td>{{ cita.horacita|time:"g:i A" }}</td>
                    <td>{{ cita.direccioncita }}</td>
                    <td>{{ cita.contactocliente }}</td>
                    <td>{{ cita.descripcioncita }}</td>
                    <td>{{ cita.idtecnico.numerodocumento.nombre }}</td>
                    <td>{{ cita.idadministrador.numerodocumento.nombre }}</td>
                    <td>{{ cita.idcotizacion.idcotizacion }}</td>
                    <td>{{ cita.idestadocita.nombreestadocita }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarCitaModal">
                            Editar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="editarCitaModal" tabindex="-1" aria-labelledby="editarCitaModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="editarCitaModalLabel">Editar Cita</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <form method="post" action="{% url 'editar_citas' cita.idcita %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                    <label for="fechacita" class="form-label">Fecha de la Cita</label>
                                    <input type="date" class="form-control" id="fechacita" name="fechacita" value="{{ cita.fechacita|date:"Y-m-d" }}">
                                    </div>
                                    <div class="mb-3">
                                    <label for="horacita" class="form-label">Hora de la Cita</label>
                                    <input type="time" class="form-control" id="horacita" name="horacita" value="{{ cita.horacita|date:'H:i' }}">
                                </div>
                                    <div class="mb-3">
                                    <label for="direccioncita" class="form-label">Dirección de la Cita</label>
                                    <input type="text" class="form-control" id="direccioncita" name="direccioncita" value="{{ cita.direccioncita }}">
                                    </div>
                                    <div class="mb-3">
                                    <label for="descripcioncita" class="form-label">Descripción de la Cita</label>
                                    <textarea class="form-control" id="descripcioncita" name="descripcioncita" rows="3">{{ cita.descripcioncita }}</textarea>
                                    </div>
                                    <div class="mb-3">
                                    <label for="idtecnico" class="form-label">Técnico</label>
                                    <select class="form-select" id="idtecnico" name="idtecnico">
                                        {% for tecnico in tecnicos %}
                                        <option value="{{ tecnico.idtecnico }}" {% if tecnico.idtecnico == cita.idtecnico.idtecnico %} selected {% endif %}>
                                            {{ tecnico.numerodocumento.nombre }} {{ tecnico.numerodocumento.apellido }} {{tecnico.numerodocumento.numerodocumento}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <div class="mb-3">
                                    <label for="idcotizacion" class="form-label">Cotización</label>
                                    <select class="form-select" id="idcotizacion" name="idcotizacion">
                                        {% for cotizacion in cotizaciones %}
                                        <option value="{{ cotizacion.idcotizacion }}" {% if cotizacion.idcotizacion == cita.idcotizacion.idcotizacion %} selected {% endif %}>
                                            {{ cotizacion.descripcioncotizacion }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <div class="mb-3">
                                    <label for="idestadocita" class="form-label">Estado de la Cita</label>
                                    <select class="form-select" id="idestadocita" name="idestadocita">
                                        {% for estado in estados %}
                                        <option value="{{ estado.idestadocita }}" {% if estado.idestadocita == cita.idestadocita.idestadocita %} selected {% endif %}>
                                            {{ estado.nombreestadocita }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
  
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sw" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal{{ cita.idcita }}">
                            Eliminar
                        </button>
                        <div class="modal fade" id="confirmarEliminarModal{{ cita.idcita }}" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmarEliminarModalLabel">¿Está seguro de eliminar esta cita?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Esta acción eliminará permanentemente la cita. Y eliminará asignaciones asociadas ¿Está seguro de continuar?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'eliminar_citas' cita.idcita %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if citas_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ citas_page.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for i in citas_page.paginator.page_range %}
                <li class="page-item {% if citas_page.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if citas_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ citas_page.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
</div>
{% endblock %}
