:root {
    --color-primary: #263465; /* Color principal */
    --color-white: #ffffff; /* Color blanco */
    --color-selected: rgba(36, 126, 194, 0.763);
    --color-white-second: rgb(226, 226, 226); /* Color cuando el elemento está seleccionado */
}


body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white); /* Cambiado a var(--color-white) */
}

.carousel-item img {
    max-height: 650px;
}

.serv_prod_buttons figure {
    position: relative;
    overflow: hidden;
    width: 300px;
    border-radius: 50px;
    margin-top: 30px;
}

.serv_prod_buttons figure .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 52, 101, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 1rem;
}

.serv_prod_buttons figure:hover .capa {
    opacity: 1;
    visibility: visible;
}

.serv_prod_buttons figure .capa h5,
.serv_prod_buttons figure .capa p {
    color: #fff;
    margin: 0;
}

.serv_prod_buttons figure .capa p {
    font-size: 0.9rem;
}
.container{
    color: var(--color-primary);
}
.same-size-image {
    height: 200px !important; 
    object-fit: cover;
    border-radius: 5px; 
}

.contenido{
    padding: 30px;
    margin-top: 100px;
}

.contenido-servicios{
    justify-content: center;
    justify-items: center;
    padding: 50px;
    margin-bottom: 5px;
}