{% extends "menu.html" %}
{% block titulo %} Agenda {% endblock %}

{% block extra %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth'
    });
    calendar.render();
  });
</script>
{% endblock %}

{% block contenido %}
<div class="content" style="padding-bottom: 60px; margin-bottom: 60px;"> 
    <div class="card">
        <div class="card-header">
          Agenda
        </div>
        <div class="card-body">
          <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}
