

#content {
    overflow-y: auto;
    height: calc(100vh - 3rem);
    padding-bottom: 3rem;   
}

.available_prodCita {
    display: flex;
    padding: 1px;
    margin-left: 0rem;
    padding-top: 0rem;
    position: relative;
    width: 100%;
}

.btn-create {
    width: 12rem;
    padding: 9px;
    border-radius: 30px;
    margin-top: 1%;
    margin-left: 45%;
    margin-bottom: 3%;
}

.container-citas {
    overflow-y:auto;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 8%;
    width: 100%;
}

.cita {
    padding: 2%;
    width: 100%;
    height: 10%;
    margin: 1%;
    border-radius: 6px;
    border-bottom: 1px solid#818181;
    background-color: rgba(244, 250, 255, 1);
    flex-shrink: 0;
}

.cita:hover {
    box-shadow: 2px 2px 4px 2px #6d6666;
}

.boton-estado {
    border: none;
    padding: 10px;
    margin-top: 3px;
    margin: 2%;
    color: #000000;
    background-color: #FFFFFF;
    transition: background 0.3s ease;
}

.boton-estado:hover {
    background: #018ABE;
    box-shadow: 1px 1px 3px 0px #02457A;
    color: #FFFFFF;
}

.modal-content {
    background-color: #0C3759;
    color: #FFFFFF;
}

.modal-title {
    color: #FFFFFF;
}

.btn-cancelar {
    background-color: rgb(136, 21, 21);
    padding: 11px;
    border-radius: 50px;
    border: none;
    margin-bottom: 2%;
    width: 12rem;
}

.btn-cancelar:hover {
    background-color: rgb(107, 25, 25);
}
