{% extends "menu.html" %}
{% block titulo %} Servicios {% endblock %}
{% block contenido %}
<main class="editar-producto">
    <div class="container py-4">
        <h2>Crear Servicio</h2>

        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <ul>
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form action="{% url 'createServicio' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="put">
        
            <div class="mb-3 row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre Servicio: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="nombre" id="nombre" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripcion Servicio: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="categoria" class="col-sm-2 col-form-label">Categoria Servicio:</label>
                <div class="col-sm-5">
                    <select name="categoria" id="categoria" class="form-select" required>
                        <option>Seleccione la categoria: </option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.idcategoriaservicio }}">{{ categoria.nombrecategoria }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        
            <a href="{% url 'homeServicios' %}" class="btn btn-secondary">Regresar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>            
    </div>
</main>
{% endblock %}
