{% extends "menu.html" %}
{% load static %} 
{% block titulo %} Productos y Servicios {% endblock %}
{% block contenido %}

<section class="contenedor-productos">
    <div class="card" style="width: 18 rem;">
        <img src="{% static 'images/product_images/productos_index.jpeg' %}" class="card-img-top" alt="producto dashboard">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Gestion de productos</p>
          <a href="{% url 'homeProductos' %}" class="btn btn-primary">Ir a productos</a>
        </div>
      </div>
      <div class="card" style="width: 18 rem;">
        <img src="{% static 'images/services_images/servicios_index.jpg' %}" class="card-img-top" alt="servicio dashboard">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Gestion de servicios.</p>
          <a href="{% url 'homeServicios' %}" class="btn btn-primary">Ir a servicios</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/services_images/ventas.jpeg' %}" class="card-img-top" alt="ventas dashboard">
        <div class="card-body">
            <h5 class="card-title">Ventas</h5>
            <p class="card-text">Gestión de ventas.</p>
            <a href="{% url 'homeVentas' %}" class="btn btn-primary">Ir a ventas</a>
        </div>
    </div>
    
</section>

{% endblock %}