:root {
    --color-primary: #263465; /* Color principal */
    --color-white: #ffffff; /* Color blanco */
    --color-selected: rgba(36, 126, 194, 0.763);
    --color-white-second: rgb(226, 226, 226); /* Color cuando el elemento está seleccionado */
}

@font-face {
    src: url('../fuentes/Berlin-sans-serif.ttf');
    font-family: 'Berlin';
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white); /* Texto en color blanco */
}

/* Estilos para la barra de navegación principal */
.navbar-landing {
    position: fixed; /* Navbar fija */
    top: 0; /* Posiciona en la parte superior */
    left: 0; /* Posiciona en el lado izquierdo */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color: var(--color-white); /* Fondo blanco */
    padding: 10px; /* Espaciado interno */
}

.navbar-landing .navbar-brand {
    color: var(--color-primary); /* Texto en color principal */
    font-weight: bold; /* Negrita */
    font-size: 1.5rem; /* Tamaño de fuente más grande */
}

.navbar-landing button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-landing button:hover {
    background-color: var(--color-selected); /* Color de fondo al pasar el cursor */
    color: #ffffff; /* Texto en color blanco */
}

.navbar-landing button a {
    color: var(--color-primary) !important; /* Texto en color principal */
}

.navbar-landing a:hover {
    color: var(--color-white); /* Texto en color blanco al pasar el cursor */
}

/* Estilos para la barra de navegación de búsqueda */
.navbar-buscar {
    position: fixed;
    top: 50px !important;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-primary) !important;
    color: var(--color-white);
    padding: 15px;
}
.dropdown-menu{
    background-color: var(--color-primary);
    box-shadow: 2px;
}
.navbar-buscar .form-control {
    background-color: var(--color-white); /* Fondo blanco */
    color: var(--color-primary); /* Texto en color oscuro */
}

.navbar-buscar .btn-outline-success {
    color: var(--color-white); /* Texto en color blanco */
    border-color: var(--color-white); /* Borde en color blanco */
}

.navbar-buscar .btn-info {
    text-decoration: none !important;
    color: #ffffff; /* Texto en color blanco */
}

.navbar-buscar .btn-info:hover {
    background-color: var(--color-selected) !important; /* Color de fondo al pasar el cursor */
}

/* Estilos generales */
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid form {
    margin-right: 10px; /* Margen derecho */
}

.container-fluid .btn-info {
    background-color: transparent;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

.container-fluid button a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: var(--color-white); /* Texto en color blanco */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-primary) !important; /* Fondo en color principal */
    text-align: center;
    padding: 10px 0; /* Espaciado interno */
}

.text-muted {
    color: var(--color-white) !important; /* Texto en color blanco */
}
.navbar-landing .dropdown-menu {
    z-index: 1000; /* Ajusta el valor según sea necesario */
}
